html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #D8D8D8;
	font-family: sans-serif;
	font-weight: 100;
}

.content {
	padding: 15px;
}

.section {
	background: #FFF;
	margin: 20px;
	padding: 20px;

	font-size: 14px;
	line-height: 17px;
}

p {
	padding-bottom: 20px;
}

img {
	max-width: 100%;
	height: auto;
}

.button {
	color: #FFF;
	font-size: 20px;
	padding: 10px 30px;
	display: inline;
	margin-right: 8px;
	margin-bottom: 20px;
	margin-top: 8px;
	clear: left;
}

.red {
	background: #D0021B;
}

.blue {
	background: #4A90E2;
}

.footer-wrapper {
	background: #333333;
	height: 35px;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 20px;

}

a {
	color: #FFF;
	text-decoration: none;
	padding-right: 40px;
	text-align: center;
}